# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# GitHub Actions output
release/
/tmp/

# Home Assistant specific
.storage/
*.log
